In [52]:
# from path import Path
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [55]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head()

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

# Dropping unnecessary columns
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "REG1B", axis=1)
df= df.dropna(subset=['REG1A'])
df.head()

In [57]:
df.count()

age           306
sex           306
diagnosis     306
stage         140
creatinine    306
LYVE1         306
TFF1          306
REG1A         306
dtype: int64

In [58]:
df.dtypes

age             int64
sex            object
diagnosis       int64
stage          object
creatinine    float64
LYVE1         float64
TFF1          float64
REG1A         float64
dtype: object

In [59]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Generate categorical variables
cat_var = df.dtypes[df.dtypes == "object"].index.tolist()
print(cat_var)

['sex', 'stage']

In [60]:
enc = OneHotEncoder(sparse = False)

encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))

encode_df.columns = enc.get_feature_names(cat_var)
encode_df.head()

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,sex_F,sex_M,stage_IA,stage_IB,stage_II,stage_IIA,stage_IIB,stage_III,stage_IV,stage_nan
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [61]:
df = df.merge(encode_df, left_index=True, right_index=True)
df = df.drop(cat_var, axis=1)

df.head()

,age,diagnosis,creatinine,LYVE1,TFF1,REG1A,sex_F,sex_M,stage_IA,stage_IB,stage_II,stage_IIA,stage_IIB,stage_III,stage_IV,stage_nan
0,33,1,1.83222,0.893219,654.282174,1262.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,81,1,0.97266,2.037585,209.488250,228.407,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,49,1,0.85956,1.416314,74.189903,505.571,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,28,1,0.50895,0.583010,267.193539,381.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
20,54,1,1.24410,0.004976,193.145661,113.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [62]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(94, 15)

In [64]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [65]:
# classifier = LogisticRegression(solver = "lbfgs", max_iter=200, random_state=1)
classifier = LogisticRegression(solver = "lbfgs", max_iter=200, random_state=1)

In [66]:
classifier.fit(X_train, y_train)

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=1)

In [67]:
from sklearn.metrics import confusion_matrix, classification_report
# y_pred = classifier.predict(X_test)
y_pred = classifier.predict(X_test_scaled)
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[20  0]
 [ 0 12]]

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [68]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       1
1            1       1
2            2       2
3            1       1
4            1       1
5            2       2
6            1       1
7            1       1
8            2       2
9            1       1
10           1       1
11           1       1
12           1       1
13           2       2
14           2       2
15           1       1
16           1       1
17           1       1
18           1       1
19           2       2

In [69]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0

In [70]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        20
           2       1.00      1.00      1.00        12

    accuracy                           1.00        32
   macro avg       1.00      1.00      1.00        32
weighted avg       1.00      1.00      1.00        32

## Replacing REG1A with REG1B

In [71]:
df = pd.read_csv('../Resources/Debernardi et al 2020 data.csv')
df.head(5)

,sample_id,patient_cohort,sample_origin,age,sex,diagnosis,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A
0,S1,Cohort1,BPTB,33,F,1,NaN,NaN,11.7,1.83222,0.893219,52.94884,654.282174,1262.000
1,S10,Cohort1,BPTB,81,F,1,NaN,NaN,NaN,0.97266,2.037585,94.46703,209.488250,228.407
2,S100,Cohort2,BPTB,51,M,1,NaN,NaN,7.0,0.78039,0.145589,102.36600,461.141000,NaN
3,S101,Cohort2,BPTB,61,M,1,NaN,NaN,8.0,0.70122,0.002805,60.57900,142.950000,NaN
4,S102,Cohort2,BPTB,62,M,1,NaN,NaN,9.0,0.21489,0.000860,65.54000,41.088000,NaN

In [72]:
df = df.drop(labels = "sample_id", axis=1)
df = df.drop(labels = "patient_cohort", axis=1)
df = df.drop(labels = "sample_origin", axis=1)
df = df.drop(labels = "plasma_CA19_9", axis=1)
df = df.drop(labels = "benign_sample_diagnosis", axis=1)
df = df.drop(labels = "REG1A", axis=1)
df= df.dropna(subset=['REG1B'])
df.head()

   age sex  diagnosis stage  creatinine     LYVE1      REG1B        TFF1
0   33   F          1   NaN     1.83222  0.893219   52.94884  654.282174
1   81   F          1   NaN     0.97266  2.037585   94.46703  209.488250
2   51   M          1   NaN     0.78039  0.145589  102.36600  461.141000
3   61   M          1   NaN     0.70122  0.002805   60.57900  142.950000
4   62   M          1   NaN     0.21489  0.000860   65.54000   41.088000

In [73]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Generate categorical variables
cat_var = df.dtypes[df.dtypes == "object"].index.tolist()
print(cat_var)

['sex', 'stage']

In [74]:
enc = OneHotEncoder(sparse = False)

encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))

encode_df.columns = enc.get_feature_names(cat_var)
encode_df.head()

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,sex_F,sex_M,stage_I,stage_IA,stage_IB,stage_II,stage_IIA,stage_IIB,stage_III,stage_IV,stage_nan
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [75]:
df = df.merge(encode_df, left_index=True, right_index=True)
df = df.drop(cat_var, axis=1)
df = df.dropna()
df.head()

,age,diagnosis,creatinine,LYVE1,REG1B,TFF1,sex_F,sex_M,stage_I,stage_IA,stage_IB,stage_II,stage_IIA,stage_IIB,stage_III,stage_IV,stage_nan
0,33,1,1.83222,0.893219,52.94884,654.282174,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,81,1,0.97266,2.037585,94.46703,209.488250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,51,1,0.78039,0.145589,102.36600,461.141000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,61,1,0.70122,0.002805,60.57900,142.950000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,62,1,0.21489,0.000860,65.54000,41.088000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [76]:
y = df["diagnosis"]
X = df.drop(columns = "diagnosis", axis = 1)

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)
X_train.shape

(442, 16)

In [78]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [79]:
classifier = LogisticRegression(solver = "lbfgs", max_iter=200, random_state=1)

In [80]:
classifier.fit(X_train, y_train)

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200, random_state=1)

In [81]:
from sklearn.metrics import confusion_matrix, classification_report
# y_pred = classifier.predict(X_test)
y_pred = classifier.predict(X_test_scaled)
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[ 4 42  0]
 [ 3 49  0]
 [ 1  0 49]]

C:\Users\begar\anaconda3\envs\PythonData\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [82]:
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           2       2
1           3       3
2           3       3
3           2       1
4           2       1

In [83]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6891891891891891

In [84]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           1       0.50      0.09      0.15        46
           2       0.54      0.94      0.69        52
           3       1.00      0.98      0.99        50

    accuracy                           0.69       148
   macro avg       0.68      0.67      0.61       148
weighted avg       0.68      0.69      0.62       148